* {
    margin: 0;
    padding: 0;
}

body {
    background: #252525;
}

h1 {
    margin-left: 50px;
    color: #fff;
}

h3 {
    color: #252525;
}

h4 {
    margin-right: 50px;
    color: #fff;
}

a{
    text-decoration: none;
}

a:visited {
    color: #fff;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background: #252525;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    
    background: linear-gradient(rgba(46, 46, 46, 0.7), rgba(46, 46, 46, 0.7)), url("./images/THJJRUhNlEc.png");
}

.title {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.page-desc{
    color: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    height: 79vh;
    background: #fff;
}

.search-movie {
    display: flex;
    justify-content: center;
}

.search-bar {
    position: relative;
    bottom: 15px;
    width: 70%;
    padding: 5px 10px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 10px 0px 0px 10px;
}

.search-bar:hover,
.search-bar:focus {
    outline: none;
}

.search-btn {
    position: relative;
    bottom: 15px;
    width: 10%;
    padding: 5px 10px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0 10px 10px 0;
}

.search-results {
    background-color: #fff;
}

.default-page {
    display: flex;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin: 0 auto;
    gap: 20px;
    padding: 30px 0px;
    border-bottom: 1px solid #252525;
}

.movie-main {
    width: 75%;
}

.movie-title {
    margin-bottom: 10px;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.poster {
    width: 100px;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
        background: #252525;
    }

    .movie {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;        
        margin: 0 auto;
        padding: 50px 0;
        border-bottom: 1px solid #252525;
    }

    .movie-main {
        width: 100%;
        padding: 10px;
        border: 1px solid red;
    }

    .movie-title {
        font-size: 30px;
    }

    .movie-poster {
        margin-left: 10px;
        padding: 0;
    }

    .poster {
        width: 150px;
    }

    .runtime-text {
        font-size: 12px;
    }

    .genre-text {
        font-size: 12px;
    }

    .plot-text {
        font-size: 14px;
    }

    .movie-main {
        margin-right: 10px;
    }

    .addMovie {
        width: 55px;
        padding: 5px 0;
        font-size: 10px;
        word-wrap: normal;
    }

    .removeMovie {
        width: 55px;
        padding: 5px 0;
        font-size: 10px;
        word-wrap: normal;
    }
}